body>footer ul,body>footer ul li {
    margin-bottom: 0;
    padding: 0;
    color: var(--muted-color);
    list-style: none
}

body>footer li {
    display: inline-block
}

body>footer li:not(:first-child)::before {
    margin: 0 .25rem;
    content: "·"
}

body>footer ul:first-of-type {
    margin-bottom: calc(var(--spacing) * .5)
}

body>footer ul:first-of-type a {
    text-decoration: none
}

@media (max-width: 767px) {
    body>footer ul:last-of-type li {
        display:list-item
    }

    body>footer ul:last-of-type li::before {
        display: none
    }
}

#spotlight {
    display: flex;
    flex-direction: column;
}

#spotlight img {
    max-inline-size: 100%;
    block-size: auto; /* Preserve aspect ratio */
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: top center;
    align-self: center;
}

@media (max-width: 767px) {
    #spotlight img {
        aspect-ratio: 1/1;
        object-position: top center;
    }
}
